@import url('https://fonts.google.com/specimen/Outfit');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    background-color: hsl(212, 45%, 89%);
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.qr-card {
    margin: auto;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
}

.qr-image {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
}

.card-title {
    font-size: 700;
    color: hsl(218, 44%, 22%);
    font-family: Outfit, Geneva, Tahoma, sans-serif;
}

.card-content {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Outfit, Geneva, Tahoma, sans-serif;
    color: hsl(220, 15%, 55%);
    margin-left: 2rem;
    margin-right: 2rem;
}

.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 3rem;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

@media (min-width: 1440px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 375px) {
    html {
        font-size: 50%;
    }

    .qr-card {
        width: 80%;
    }
}